<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Gotcha</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/login"><img id="logo" src="/assets/img/pokedex.png" alt="pokedex"/></a>
      <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/view">View Pokemon</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/catch">Catch Pokemon</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/store">Store</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/changePass">Change Password</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/logout">Log out</a>
              </li>
          </ul>
      </div>
  </nav>
    <section id="404">
    The page you were looking for is not here!
    </section>

  <div id="pokeMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="oak" src="assets/img/oak.png" alt="Oak"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>